<section id="get-started" class="get-started">
  <div class="container get-started__container">
    <div class="get-started__form-wrapper">
      <h4 class="get-started__form-title heading-h4">
        Let’s level up your brand
      </h4>
      <p class="get-started__form-text text-p-medium">
        You can reach us anytime
        <a
          href="mailto:hellosansbrothers@gmail.com"
          class="get-started__form-link"
        >
          hellosansbrothers@gmail.com
        </a>
      </p>
      <form class="get-started__form">
        <div class="get-started__form-top">
          <label
            class="get-started__form-label get-started__form-label--small text-p-small"
          >
            <span class="get-started__form-label-text text-p-small"
              >First name</span
            >
            <input
              type="text"
              class="get-started__form-input"
              name="first-name"
              placeholder="First name"
            />
          </label>
          <label
            class="get-started__form-label get-started__form-label--small text-p-small"
          >
            <span class="get-started__form-label-text text-p-small"
              >Last name</span
            >
            <input
              type="text"
              class="get-started__form-input"
              name="last-name"
              placeholder="Last name"
            />
          </label>
        </div>
        <label class="get-started__form-label text-p-small">
          <span class="get-started__form-label-text text-p-small">Email</span>
          <input
            type="text"
            class="get-started__form-input get-started__form-input-email"
            name="email"
            placeholder="you@company.com"
          />
        </label>
        <label class="get-started__form-label text-p-small">
          <span class="get-started__form-label-text text-p-small"
            >Phone number</span
          >
          <input
            id="phone"
            type="tel"
            class="get-started__form-input get-started__form-input-phone"
            name="phone"
          />
        </label>
        <label class="get-started__form-label text-p-small">
          <span class="get-started__form-label-text text-p-small">Message</span>
          <textarea
            type="text"
            class="get-started__form-input get-started__form-input--textarea"
            name="message"
            placeholder="Leave us a message..."
          ></textarea>
        </label>
        <button type="submit" class="get-started__form-btn button-form">
          Get Started
        </button>
      </form>
    </div>
    <img
      loading="lazy"
      class="get-started__img"
      src="./assets/image/get-started-img.jpg"
      width="987"
      height="885"
      alt="Man and women high-five"
    />
  </div>
</section>
