@mixin font-face($font-family, $url, $weight, $font-style: normal) {
  @font-face {
    src:
      local('Trickster'),
      url('../../fonts/#{$url}.woff2') format('woff2');
    font-family: $font-family;
    font-weight: $weight;
    font-style: $font-style;
    font-display: swap;
  }
}
