<section class="article">
  <div class="container">
    <ul class="article__content-list">
      <li class="article__content-item">
        <a href="/coca/detail.html">
          <img
            loading="lazy"
            src="./assets/image/blog-article-1.jpg"
            class="article__content-img"
            width="584"
            height="751"
            alt=""
          />
          <h3 class="article__content-title heading-h3">
            How we perform long-running tasks using AWS services
          </h3>
          <p class="article__content-descr text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all
            in one. While you are probably familiar with all of these, they are
            usually entirely separate tools.
          </p>
        </a>
      </li>
      <li class="article__content-item">
        <img
          loading="lazy"
          src="./assets/image/blog-article-2.jpg"
          class="article__content-img"
          width="584"
          height="507"
          alt=""
        />
        <h3 class="article__content-title heading-h3">
          Layout Exploration — Simple exercise but big effect
        </h3>
        <p class="article__content-descr text-p-medium">
          Make alternatives or other options for the design we are making. For
          example, we are creating a website design. Then there is the
          testimonial section.
        </p>
      </li>
      <li class="article__content-item">
        <img
          loading="lazy"
          src="./assets/image/blog-article-3.jpg"
          class="article__content-img"
          width="584"
          height="507"
          alt=""
        />
        <h3 class="article__content-title heading-h3">
          How to ask when doing User Research
        </h3>
        <p class="article__content-descr text-p-medium">
          Bro, the story is that you want to make an application for buying and
          selling goods on the market. During user research, what do you think
          you will ask people?
        </p>
      </li>
      <li class="article__content-item">
        <img
          loading="lazy"
          src="./assets/image/blog-article-4.jpg"
          class="article__content-img"
          width="584"
          height="751"
          alt=""
        />
        <h3 class="article__content-title heading-h3">
          Webflow Break the Coding Barrier
        </h3>
        <p class="article__content-descr text-p-medium">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </li>
    </ul>
  </div>
</section>
