<section class="hero hero-decor">
  <div class="container">
    <h2 class="hero__title heading-h1">Activity & Updates</h2>
    <p class="hero__subtitle text-p-subtitle">
      Our biggest challenge is making sure we're <br />
      always designing and building products that <br />
      will help you run your business better.
    </p>
    <div class="hero__tabs">
      <ul class="hero__tabs-list text-p-default">
        <li class="hero__tabs-item">
          <button class="hero__tabs-link hero__tabs-link--active text-p-default">View all</button>
        </li>
        <li class="hero__tabs-item">
          <button data-tab="design" class="hero__tabs-link text-p-default">Design</button>
        </li>
        <li class="hero__tabs-item">
          <button data-tab="article" class="hero__tabs-link text-p-default">Articles</button>
        </li>
        <li class="hero__tabs-item">
          <button data-tab="product" class="hero__tabs-link text-p-default">Product</button>
        </li>
        <li class="hero__tabs-item">
          <button data-tab="software" class="hero__tabs-link text-p-default">
            Software Development
          </button>
        </li>
        <li class="hero__tabs-item">
          <button data-tab="customer" class="hero__tabs-link text-p-default">
            Customer Success
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="hero__slider-container">
    <div class="container">
      <div class="swiper bloghero__slider">
        <div class="bloghero__nav">
          <a class="bloghero__prev" type="button">
            <svg
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.51153 1.0234L2.53553 6.9994L8.51153 12.9754L7.50353 13.9834L0.519531 6.9994L7.50353 0.0153976L8.51153 1.0234Z"
                fill="#7E8492"
              />
            </svg>
          </a>
          <a class="bloghero__next" type="button">
            <svg
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.77607 12.9756L11.7521 6.99962L5.77607 1.02363L6.78407 0.0156247L13.7681 6.99962L6.78407 13.9836L5.77607 12.9756Z"
                fill="#7E8492"
              />
            </svg>
          </a>
        </div>
        <div class="swiper-wrapper bloghero__wrapper">
          <div class="swiper-slide bloghero__article" data-rubric="design">
            <img
              loading="lazy"
              class="bloghero__img"
              src="./assets/image/bloghero-slide-1.jpg"
              alt=""
              width="515"
              height="428"
            />
            <div class="bloghero__info">
              <p class="bloghero__info-publish text-p-small">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </p>
              <address class="bloghero__info-author text-p-small">
                by : Albert Sans
              </address>
            </div>
            <h5 class="bloghero__topic heading-h5">Practice making User Flow</h5>
            <p class="bloghero__descr">
              In this article, we'll cover how to create user flows
            </p>
          </div>
          <div class="swiper-slide bloghero__article" data-rubric="product">
            <img
              loading="lazy"
              class="bloghero__img"
              src="./assets/image/bloghero-slide-1.jpg"
              alt=""
              width="515"
              height="428"
            />
            <div class="bloghero__info">
              <p class="bloghero__info-publish text-p-small">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </p>
              <address class="bloghero__info-author text-p-small">
                by : Albert Sans
              </address>
            </div>
            <h5 class="bloghero__topic heading-h5">Practice making User Flow</h5>
            <p class="bloghero__descr">
              In this article, we'll cover how to create user flows
            </p>
          </div>
          <div class="swiper-slide bloghero__article" data-rubric="design">
            <img
              loading="lazy"
              class="bloghero__img"
              src="./assets/image/bloghero-slide-1.jpg"
              alt=""
              width="515"
              height="428"
            />
            <div class="bloghero__info">
              <p class="bloghero__info-publish text-p-small">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </p>
              <address class="bloghero__info-author text-p-small">
                by : Albert Sans
              </address>
            </div>
            <h5 class="bloghero__topic heading-h5">Practice making User Flow</h5>
            <p class="bloghero__descr">
              In this article, we'll cover how to create user flows
            </p>
          </div>
          <div class="swiper-slide bloghero__article" data-rubric="design">
            <img
              loading="lazy"
              class="bloghero__img"
              src="./assets/image/bloghero-slide-2.jpg"
              alt=""
              width="515"
              height="428"
            />
            <div class="bloghero__info">
              <p class="bloghero__info-publish text-p-small">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </p>
              <address class="bloghero__info-author text-p-small">
                by : Albert Sans
              </address>
            </div>
            <h5 class="bloghero__topic heading-h5">
              Overview of the Design Principles
            </h5>
            <p class="bloghero__descr">
              What are Design Principles?… To understand design principles, we first
              discuss the principles.
            </p>
          </div>
          <div class="swiper-slide bloghero__article" data-rubric="design">
            <img
              loading="lazy"
              class="bloghero__img"
              src="./assets/image/bloghero-slide-3.jpg"
              alt=""
              width="515"
              height="428"
            />
            <div class="bloghero__info">
              <p class="bloghero__info-publish text-p-small">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </p>
              <address class="bloghero__info-author text-p-small">
                by : Albert Sans
              </address>
            </div>
            <h5 class="bloghero__topic heading-h5">Using Grid in website design</h5>
            <p class="bloghero__descr">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
          <div class="swiper-slide bloghero__article" data-rubric="customer">
            <img
              loading="lazy"
              class="bloghero__img"
              src="./assets/image/bloghero-slide-1.jpg"
              alt=""
              width="515"
              height="428"
            />
            <div class="bloghero__info">
              <p class="bloghero__info-publish text-p-small">
                Published in Insight
                <time datetime="2021-01-30">Jan 30, 2021</time>
              </p>
              <address class="bloghero__info-author text-p-small">
                by : Albert Sans
              </address>
            </div>
            <h5 class="bloghero__topic heading-h5">Practice making User Flow</h5>
            <p class="bloghero__descr">
              In this article, we'll cover how to create user flows
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
