<footer class="footer">
  <div class="container">
    <div class="footer__head">
      <div class="footer__head-info">
        <h2 class="footer__head-title">Think beyond the wave</h2>
        <p class="footer__head-text text-p-medium">
          Ask about Sans products, pricing, implementation, or anything else.
          Our highly trained reps are standing by, ready to help
        </p>
      </div>
      <a href="/coca/contact.html#get-started" class="footer__head-btn button-form">
        Try for free
      </a>
    </div>
    <div class="footer__body">
      <div class="footer__body-info">
        <a href="/coca/" class="footer__logo-link" area-label="Home page">
          <img
            loading="lazy"
            class="footer__logo-icon"
            src="./assets/icons/footer-icon.svg"
            width="140"
            height="42"
            alt="coca logo"
          />
        </a>
        <p class="footer__body-descr text-p-default">
          We built an elegant solution. Our team created a fully integrated
          sales and marketing solution for SMBs
        </p>
      </div>
      <nav class="footer__body-nav accordion-list">
        <div class="footer__body-nav-col accordion-item">
          <a class="accordion-list__control" href="#">
            <h4 class="footer__body-nav-col-title text-p-default">Company</h4>
          </a>
          <ul class="footer__body-nav-list accordion-list__content text-p-default">
            <li class="footer__body-nav-item">
              <a href="/coca/about.html" class="footer__body-nav-link"> About </a>
            </li>
            <li class="footer__body-nav-item">
              <a href="/coca/pricing.html" class="footer__body-nav-link"> Pricing </a>
            </li>
            <li class="footer__body-nav-item">
              <a href="/coca/jobs.html" class="footer__body-nav-link"> Jobs </a>
            </li>
            <li class="footer__body-nav-item">
              <a href="/coca/blog.html" class="footer__body-nav-link"> Blog </a>
            </li>
          </ul>
        </div>
        <div class="footer__body-nav-col accordion-item">
          <a class="accordion-list__control" href="#">
            <h4 class="footer__body-nav-col-title text-p-default">Product</h4>
          </a>
          <ul class="footer__body-nav-list accordion-list__content">
            <li class="footer__body-nav-item">
              <a href="#" class="footer__body-nav-link"> Sales Software </a>
            </li>
            <li class="footer__body-nav-item">
              <a href="#" class="footer__body-nav-link"> Marketplace </a>
            </li>
            <li class="footer__body-nav-item">
              <a href="#" class="footer__body-nav-link"> Terms & Conditions </a>
            </li>
            <li class="footer__body-nav-item">
              <a href="#" class="footer__body-nav-link"> Privacy Policy </a>
            </li>
          </ul>
        </div>
        <div class="footer__body-nav-col accordion-item">
          <a class="accordion-list__control" href="#">
            <h4 class="footer__body-nav-col-title text-p-default">Discover</h4>
          </a>
          <ul class="footer__body-nav-list accordion-list__content text-p-default">
            <li class="footer__body-nav-item">
              <a href="#" class="footer__body-nav-link"> CRM Comparision </a>
            </li>
            <li class="footer__body-nav-item">
              <a href="#" class="footer__body-nav-link"> Partner Program </a>
            </li>
            <li class="footer__body-nav-item">
              <a href="#" class="footer__body-nav-link"> What is CRM </a>
            </li>
            <li class="footer__body-nav-item">
              <a href="#" class="footer__body-nav-link"> Resource </a>
            </li>
          </ul>
        </div>
        <div class="footer__body-nav-col accordion-item">
          <a class="accordion-list__control" href="#">
            <h4 class="footer__body-nav-col-title text-p-default">Help Center</h4>
          </a>
          <ul class="footer__body-nav-list accordion-list__content text-p-default">
            <li class="footer__body-nav-item">
              <a href="#" class="footer__body-nav-link"> Community </a>
            </li>
            <li class="footer__body-nav-item">
              <a href="#" class="footer__body-nav-link"> Knowledge Base </a>
            </li>
            <li class="footer__body-nav-item">
              <a href="#" class="footer__body-nav-link"> Academy </a>
            </li>
            <li class="footer__body-nav-item">
              <a href="#" class="footer__body-nav-link"> Support </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="footer__foot">
      <div class="footer__foot-links">
        <ul class="footer__socials">
          <li class="footer__socials-item">
            <a class="footer__socials-link" href="#">
              <img
                loading="lazy"
                class="footer__socials-icon"
                src="./assets/icons/socials/fb-icon.svg"
                width="20"
                height="20"
                alt="Facebook icon"
              />
            </a>
          </li>
          <li class="footer__socials-item">
            <a class="footer__socials-link" href="#">
              <img
                loading="lazy"
                class="footer__socials-icon"
                src="./assets/icons/socials/tw-icon.svg"
                width="20"
                height="20"
                alt="Twitter icon"
              />
            </a>
          </li>
          <li class="footer__socials-item">
            <a class="footer__socials-link" href="#">
              <img
                loading="lazy"
                class="footer__socials-icon"
                src="./assets/icons/socials/inst-icon.svg"
                width="20"
                height="20"
                alt="Instagram icon"
              />
            </a>
          </li>
          <li class="footer__socials-item">
            <a class="footer__socials-link" href="#">
              <img
                loading="lazy"
                class="footer__socials-icon"
                src="./assets/icons/socials/in-icon.svg"
                width="20"
                height="20"
                alt="In icon"
              />
            </a>
          </li>
        </ul>
        <ul class="footer__priv text-p-small">
          <li class="footer__priv-item">
            <a href="#" class="footer__priv-link"> Privacy Policy </a>
          </li>
          <li class="footer__priv-item">
            <a href="#" class="footer__priv-link"> Terms & Conditions </a>
          </li>
          <li class="footer__priv-item">
            <a href="#" class="footer__priv-link"> Support </a>
          </li>
        </ul>
      </div>
      <div class="footer__copy text-p-small">
        © Copyright 2023, All Rights Reserved
      </div>
    </div>
  </div>
</footer>
